@{
    ViewData["Title"] = "灭火器数据";
}
<body onload="assignValueToText()">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>灭火器数据</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <input hidden value="fire" id="category" />
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">压力值：</label>
                <input class="form-control" id="firePre" type="text" style="height:40px;" value="1.5">Mpa
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">温度：</label>
                <input class="form-control" id="fireTmp" type="text" style="height:40px;" value="26">℃
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">电量等级：</label>
                <input class="form-control" id="fireBat" type="text" style="height:40px;" value="0.99">
            </div>
        </form>
        <div class="form-group">
            <label class="lh46 pull-left">状态：</label>
            <a class="btn btn-default btn-lg btn-llg fireSta" data-value="01">紧急模式</a>
        </div>
        <div class="form-group form-group-inline">
            <label for="mac" class="lh46 pull-left">Mac地址：</label>
            <input class="form-control" id="mac" type="text">
        </div>
        <div class="form-group text-center">
            <button type="submit" id="submit" class="btn btn-success btn-lg btn-llg">提交</button>
            <button type="reset" class="btn btn-default btn-lg btn-llg" id="cancel">取消</button>
        </div>
    </div>
</body>
