@{
    ViewData["Title"] = "JT808";
}

<body onload="assignValueToText()">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>测温数据</h2>
            </div>
        </div>
    </div>

    <div class="container" id="gt">
        <input hidden value="gt" id="category" />
        <div class="form-group">
            <label class="lh46 pull-left">口罩：</label>
            <a class="btn btn-default btn-lg btn-llg gtwear active" data-value="1">戴上</a>
        </div>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">体温：</label>
                <input class="form-control" id="gtT" type="text" style="height:40px;" value="36.2">°C
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">用户：</label>
                <input class="form-control" id="gtU" type="text" style="height:40px;" value="中职物联">
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">工号：</label>
                <input class="form-control" id="gtP" type="text" style="height:40px;" value="1">
            </div>
        </form>
    </div>

    <div class="container" id="sv">
        <input hidden value="sv" id="category" />
        <div class="form-group">
            <label class="lh46 pull-left">口罩：</label>
            <a class="btn btn-default btn-lg btn-llg svwear active" data-value="1">戴上</a>
        </div>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">体温：</label>
                <input class="form-control" id="svT" type="text" style="height:40px;" value="36.2">°C
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">用户：</label>
                <input class="form-control" id="svU" type="text" style="height:40px;" value="中职物联">
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">工号：</label>
                <input class="form-control" id="svP" type="text" style="height:40px;" value="1">
            </div>
        </form>
    </div>

    <div class="container" id="dh">
        <input hidden value="dh" id="category" />
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">体温：</label>
                <input class="form-control" id="dhT" type="text" style="height:40px;" value="36.2">°C
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">用户：</label>
                <input class="form-control" id="dhU" type="text" style="height:40px;" value="中职物联">
            </div>
        </form>
        <form class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="lh46 pull-left">工号：</label>
                <input class="form-control" id="dhP" type="text" style="height:40px;" value="1">
            </div>
        </form>
    </div>

    <div class="container">
        <div class="form-group form-group-inline">
            <label for="mac" class="lh46 pull-left">Mac地址：</label>
            <input class="form-control" id="mac" type="text">
        </div>
        <div class="form-group text-center">
            <button type="submit" id="submit" class="btn btn-success btn-lg btn-llg">提交</button>
            <button type="reset" class="btn btn-default btn-lg btn-llg" id="cancel">取消</button>
        </div>
    </div>
</body>