.btn-llg {
    min-width: 112px;
    font-size: 14px;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn-llg.active {
    background-color: #F08080 !important;
}

.lh46 {
    width: 125px;
    line-height: 40px;
    font-size: 16px;
}

.form-group-inline {
    display: flex;
}

.form-group-inline .form-control {
    flex: 1;
    height: 40px;
}

.form-m-t {
    margin-top: 14.5px;
}

.pointer {
    cursor: pointer;
}

.confirm {
    margin-left:15px;
    height:41px;
}

.pull-left {
    float: none !important;
}